<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <h3>Liste des véhicules</h3>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <button class="btn" onclick="navigate('edit')"><i class="material-icons right">add</i>Ajouter</button>
        <table id="tableAllCars" class="striped" style="display: none;">
            <thead>
            <tr>
                <th scope="col">Véhicule</th>
                <th scope="col">Prix</th>
                <th scope="col">Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tableBodyAllCars">
            </tbody>
        </table>
    </div>
</div>
